<div class="main">
  <div class="header"></div>
  <h1>Hello, I am Aki the Academic Advisor</h1>
  <div class="well">
    <%= image_tag('advisorGroup', height: '500') %>
  </div>
  <h2>I am here to help you with your course scheduling :-D</h2>
  <button id="getStarted">Get Started!</button>
</div>
